## Bank Customer Insight Extraction
## The problem
A bank wants to improve their marketing campaigns by understanding the factors that
influence whether or not a customer will subscribe to a term deposit. They have a dataset of past
marketing campaigns, including information about the customers who were contacted, the marketing
materials that were used, and whether or not the customer subscribed to a term deposit.
## Idea
The bank can use insight extraction techniques to identify the factors that are most strongly
correlated with customer subscription. This can help them to create more effective marketing campaigns
that target the right customers with the right messages

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset/bank.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [3]:
correlation = df[['age','balance','day','duration','campaign','pdays','previous']].corr()

In [6]:
most_correlated_features = correlation['previous'].nlargest(5)
print("The features that are most strongly correlated with customer subscription are:")
most_correlated_features

The features that are most strongly correlated with customer subscription are:

previous    1.000000
pdays       0.507272
balance     0.030805
age         0.020169
duration   -0.026716
Name: previous, dtype: float64